data/attn
data/blast_db
data/img
data/mmseqs
data/pdf
data/phage_genomes
data/pred_dpos
data/valid_dpos
data/ignored
data/subseq/cross_val.ipynb
model/Final_SPIKEHUNTER.pt
model/Final_DPOSFINDER.pt
log/
code/packages/__pycache__/
notebook.ipynb
output
notebooks
code/test.py
multi-thread.py
multi-thread.txt
code/dpos_blast.py
code/run.py
data/false_prediction
model_old
data/analysis
data_new
dposfinder.yml
KNN.ipynb
new_train_process.ipynb
code/packages/Models.py
.gitignore
negative_sample_blastp.ipynb
code/attention_visualization.ipynb
data_detail_description.ipynb
data/Acinetobacter_dpos_align.tsv
scripts/create_subseq.sh
5fold_output.txt
data/subseq/all_fasta_pairwise_normalized_score.tsv
