data/attn
data/blast_db
data/img
data/mmseqs
data/pdf
data/phage_genomes
data/pred_dpos
data/valid_dpos
data/ignored
model/Final_SPIKEHUNTER.pt
model/Final_DPOSFINDER.pt
log/
code/packages/__pycache__/
notebook.ipynb
output
notebooks
code/test.py
multi-thread.py
multi-thread.txt
code/dpos_blast.py
code/run.py
